@font-face {
  font-family: "font";
  src: url("./fonts/font.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  margin: 0;
  padding: 0;
  font-family: "font";
}
button,
input {
  font-family: "font";
  font-size: 1rem;
}

input {
  height: 2rem;
  width: 15rem;
  border: solid 0.2rem rgb(6, 182, 212);
  border-radius: 0.6rem;
  text-align: center;
}
button {
  width: 5rem;
  height: 2rem;
  border: solid 0.2rem rgb(6, 182, 212);
  border-radius: 0.6rem;
  background-color: rgb(255, 255, 255);
  transition: 0.3s;
}
button:hover {
  cursor: pointer;
  background-color: rgba(6, 181, 212, 0.548);
}
::placeholder {
  text-align: center;
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(6, 182, 212);
}
#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 0 2rem 1.5rem 2rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.heading > h1 {
  font-size: 3rem;
}
.search-container {
  margin-bottom: 1rem;
}
.units-container {
  display: flex;
  gap: 0.9rem;
}
.units {
  margin: 0;
  height: 1.55rem;
  border: solid 0.2rem rgb(6, 182, 212);
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  padding: 0 0.6rem;
}
#image-temp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 13rem;
  height: 15rem;
}

#weather-image {
  height: 8rem;
  width: 100%;
}
h2 {
  font-size: 1.8rem;
}
ul {
  list-style: none;
  padding: 0;
}
ul > * {
  padding: 0.5rem 0rem;
  border-bottom: 0.2rem solid rgb(6, 182, 212);
}
ul > ul > * {
  padding-left: 4rem;
  border-bottom: none;
}
ul > ul > *::before {
  content: "\2022";
  color: rgb(6, 182, 212);
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  margin-left: -1rem;
}
.clear {
  background: linear-gradient(
    to top,
    rgba(56, 189, 248, 0),
    rgba(56, 189, 248, 1)
  );
}
.cityAndCoutry {
  text-align: center;
  font-size: 1.5rem;
}
#gitIcon {
  width: 2rem;
  position: absolute;
  left: 0;
  margin: 1rem;
  transition: transform 0.4s ease-in-out;
}
#gitIcon:hover {
  cursor: pointer;
  transform: rotate(360deg) scale(1.2);
}

.thunderstorm {
  background: linear-gradient(
    to top,
    rgba(67, 71, 73, 0),
    rgba(239, 241, 70, 0.692),
    rgba(82, 85, 85, 0.911),
    rgb(58, 59, 59)
  );
}
.dizzle {
  background: linear-gradient(
    to top,
    rgba(193, 197, 199, 0),
    rgba(193, 197, 199, 1)
  );
}
.rain {
  background: linear-gradient(
    to top,
    rgba(56, 191, 248, 0),
    rgba(56, 191, 248, 0.767),
    rgba(193, 197, 199, 1)
  );
}
.snow {
  background: linear-gradient(
    to top,
    rgba(56, 191, 248, 0),
    rgba(56, 191, 248, 0.562),
    rgb(255, 255, 255)
  );
}
.fog,
.mist {
  background: linear-gradient(
    to top,
    rgba(193, 197, 199, 0),
    rgba(193, 197, 199, 0.295),
    rgb(255, 255, 255),
    rgba(193, 197, 199, 1)
  );
}
.clouds {
  background: linear-gradient(
    to top,
    rgba(56, 191, 248, 0),
    rgba(56, 191, 248, 0.767),
    rgba(193, 197, 199, 1)
  );
}
